/* Common */

.align-right{
    text-align: right !important;
    /* width: 82px; */
}

.align-center{
    text-align: center !important;
}

.border-red {
    border-color: #ff4646 !important;
}

.format-text{
    max-width : 145px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-novalid-required{
    font-weight: 600;
}

.text-notvalid-dialog{
    font-weight: 600;
}
.selected-record{
    background-color: rgba(26, 164, 200, .2);
}

.highline-text-confirm{
    font-weight: 600;
}

.no-content-grid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.showTooltip{
    display: block !important;
    visibility: visible !important;
}

.showTooltip-filterbar{
    display: block !important;
}

.tooltiptext-excel{
    left: 65% !important;
    width: 124px !important;
}

.vdpWithInput input {
    word-spacing:-3px !important;
}

/* .wrap-icon-feature{
    position: relative;
} */

.tooltiptext-replication{
    width: 65px !important;
}

.tooltiptext-togglemenu{
    width: 120px !important;
    left: 60% !important;
}

.grid-used-fixed-assets{
    height: calc(100vh - 165px) !important;
}

.wrap-master-detail-grid{
    margin-top: 5px !important;
    box-shadow: none !important;
    border: none !important;
    overflow: hidden !important;
    height: calc(100vh - 165px) !important;
}

/* tooltip cho module ghi tăng */

.m-wrap-tooltip{
    position: relative;
    /* display: inline-block; */
}

.m-tooltiptext{
    display: none;
    visibility: hidden;
    width: auto;
    background-color:#ffffff;
    box-shadow: 0 2px 6px rgb(0 0 0 / 16%);
    color: #000000;
    text-align: center;
    border-radius: 3px;
    padding: 3px 0;
    position: absolute;
    z-index: 1;
    top: 105%;
    left: 0%;
}

.m-tooltiptext::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
    
}

.m-wrap-tooltip:hover .m-tooltiptext{
    display: block;
    visibility: visible;
    opacity: 1;
}

.m-tooltip-usedfixed-asset{
    left: -40px;
    width: 65px;
}

.m-voucherscode{
    color: #4699f0;
}

.thead-grid-usedfixed-asset , .thead-grid-fixedasset-popup{
    background-color: #f5f5f5 !important;
}

/* Zoom master Grid */

.zoom-master-grid .resize ,
.zoom-master-grid .title-grid-detail ,
.zoom-master-grid .grid-detail-fixedasset-popup,
.zoom-master-grid .grid-detail-fixedasset
{
    display: none !important;
}

.zoom-master-grid .grid-detail
{
    height: auto !important;
}

.zoom-master-grid .grid-master{
    height: calc(100vh - 160px) !important;
}

.grid-summary-master{
    position: relative;
}

.grid-summary-master .total-cost-master{
    height: 35px;
    line-height: 35px;
    text-align: right;
    position: absolute;
    font-weight: 700;
}

.content-popup-voucher
{
    height: calc(100vh - 300px);
    position: relative;
    background-color: #f4f7ff;

}

/* .toolbar-popup-fixedasset{
    margin-top: 8px;
    
} */

.grid-checkbox{
    width: 14px;
    height: 14px;
}

.wrap-form-choose-fixedasset table tr , .grid-detail-fixedasset-popup table tr{
    border-bottom: 0.5px solid #e2e2e2;
}

.grid-summary-popup{
    display: flex;
    align-items: center;
    justify-content: end;
}

.grid-summary-popup .total-cost-dialog , .grid-summary-popup .total-depreciationrate-year-dialog , .grid-summary-popup .total-fixedassetrest-dialog{
    text-align: right;
}

.grid-summary-popup .total-fixedassetrest-dialog{
    margin-right: 17px;
}

.no-content-grid-poup{
    top: 83% !important;
}

.grid-detail-fixedasset-popup .no-content-grid{
    top: 60% !important;
}

.grid-master-feature{
    transform: translate(-71%, -46%) !important;
}

.origin-cost{
    height: 162px;
    overflow: auto;
}

.hide-filter-bar{
    display: none !important;
}

/* .wrap-content .filter-bar{
    display: none !important;
} */

.title-total-cost-textbox{
    width: 347px !important;
    margin-left: 0px !important;
    /* margin-top: 8px; */
}

.hide-icon-delete{
    display: none;
}

.wrap-summary-paging{
    width: 100%;
    height: auto;
    background-color: #f4f7ff;
}


/* Css thay đổi chế độ layout */

.change-layout{
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 16%);
    position: absolute;
    width: 140px;
    top: 40px;
    z-index: 10;
    right: 0px;
}

/* .change-layout-vertical{
    display: flex;
    align-items: center;
    padding: 4px 16px;
    cursor: pointer;
} */

.change-layout-horizontal , .change-layout-vertical{
    display: flex;
    align-items: center;
    padding: 4px 16px;
    cursor: pointer;
}

.change-layout-horizontal:hover {
    background-color: #f4f7ff;
}
.change-layout-vertical:hover{
    background-color: #f4f7ff;

}

.icon-layout-horizontal , .icon-layout-vertical{
    margin-right: 8px;
}

.hide-change-layout{
    display: none;
}

.error-duplicate-origin{
    color: #ff4646 !important;
    font-size: 11px;
}

.error-required-origin{
    color: #ff4646 !important;
    font-size: 11px;
}


/* Summary grid tài sản */

.grid-summary-fixed-asset{
    width: calc(100% - 33px);
    height: 35px;
    background-color: #f4f4f4;
    opacity: 0.85;
    z-index: 1;
    position: absolute;
    bottom: 42px;
    margin-left: 17px;
}

.wrap-total-summary-fixedasset{
    position: absolute;
    display: flex;
    align-items: center;
    height: 35px;
    text-align: right;
    font-weight: 700;
}

.wrap-master-detail-grid table .feature{
    top: 8px !important;
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    right: 32px;
    transform: translate(0%, 0%) !important;
}

.wrap-master-detail-grid .column-description{
    position: relative;
}

/* Css icon co kéo layout */

/* .icon-collpase-layout{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-image: url('../../icon/arrow_collapse_vertical_icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: n-resize;
} */

.icon-collpase-layout i{
    font-size: 24px;
}


.table-grid-load{
    width: 100%;
}

.wrap-button-header{
    display: flex;
    justify-content: end;
}

.wrap-button-header button{
    cursor: pointer !important;
}

.btn-add-product{
    margin-right: 20px;
}


