.toast-model{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.toast-model .m-toast
{ 
    display: flex;
    align-items: center;
    width: 260px;
    height: 48px;
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}

.toast-model .danger-toast{
    background-color: #FFCECE;
}
.toast-model .success-toast{
    /* background-color: #BAFFE7; */
    background-color: #ffffff;
}

.toast-model .warning-toast{
    background-color: #FFE7AF;
}

.toast-model .icon-toast{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 24px;
    text-align: center;
    margin-left: 16px;
    border-radius: 50%;
}

.toast-model .toast-icon-danger{
    background-color: #F65454;
}

.toast-model .toast-icon-success{
    box-shadow: 0px 0px 3px 3px #baeed4;
    background-color: #1ac871!important;
}

.toast-model .toast-icon-warning{
    background-color: #FF6900;
}

.toast-model .icon-toast i{
    margin-top: 2px;
    font-size: 11px;
    color: #ffffff;
}

.toast-model .close-toast{
    position: absolute;
    right: 4px;
}

.toast-model .close-toast button{
    outline: none;
    border: none;
    cursor: pointer;
}

.toast-model .icon-toast-danger button{
    background-color:#FFCECE;
}

.toast-model .icon-toast-success button{
    background-color:#BAFFE7;
}

.toast-model .icon-toast-warning button{
    background-color: #FFE7AF;
}

.toast-model .icon-toast-danger button i{
    color: #F65454;
    font-size: 24px;
}

.toast-model .icon-toast-success button i{
    color: #019160;
    font-size: 24px;
}

.toast-model .icon-toast-warning button i{
    color: #FF6900;
    font-size: 24px;
}

.toast-model .content-toast{
    margin-left: 10px;
    font-size: 13px;
    width: 176px;
}

